body{
  background-color: ;
}

h1{
  color: darkred;
  text-align: center;
}

h2{
  color: darkgreen;
}

h3{
  color: darkorchid;
}

h4{
  color: darkblue;
}

/*Link*/
a{
 text-decoration-line: none;
}

/* normal image*/
#normal{
  height: 100px;
  width: 100px
}

/*image as link*/
#aslink{
  height: 100px;
  width: 200px;
}